---
BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Right
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
SpaceAfterTemplateKeyword: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-z_]+>$'
    Priority: 1
  - Regex: '^<[A-Za-z0-9._/]+>$'
    Priority: 2
  - Regex: '^"secret_sharing/'
    Priority: 3
  - Regex: '.*'
    Priority: 4
SortIncludes: true
